<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="url-8">
        <title>Home</title>
    </head>
    <body style="background-color: aqua">


    <form action="{% url 'result'%}" style="margin-left: 800px;margin-top: 200px;font-size: 20px">
        <div>
            Tỉ lệ tội phạm: <input type="number"  step="any" required name="toipham" style="margin-left: 220px">       <br><br>
            Tỉ lệ đất huy hoạch: <input type="number"  step="any" required name="huyhoach" style="margin-left: 180px">       <br><br>
            Tỉ lệ đất không dùng cho việc kinh doanh: <input type="number"  step="any" required name="khongdung">       <br><br>
            Có hồ hơi: <input type="number"  step="any" required name="hoboi" style="margin-left: 255px">       <br><br>
        </div>
        <input type="submit" value="SUBMIT" style="margin-left: 200px">
    </form>
    <pre style="margin-left: 700px;font-size: 20px">
        - Tỉ lệ tội phạm: 0% - 100%
        - Tỉ lệ đất hoạch: 0% - 100%
        - Tỉ lệ đất không dùng cho việc kinh doanh: 0% - 100%
        - Có hồ bơi: 0 (không có) hoặc 1 (có)
    </pre>
    </body>
</html>