{% extends 'headerPage.html' %}

{% block content%}
<h1 style="text-align: center;color: red">Upload Image Object Detection</h1>

<form method="post" enctype="multipart/form-data" action="predictImage">

  {% csrf_token %}
  <div>
    <label for="fname" style="margin-left: 33%;font-size: 30px">Upload Image:</label>
    <input name="filePath" type="file" style="font-size: 30px">
    <br>
    <input type="submit" value="Submit" style="margin-left: 47%;font-size: 30px; margin-top: 30px;color: red">
    <br>
    <h2 style="text-align: center">ẢNH VÀO</h2>
    <img src={{filePathName}} alt='imagename' style="width:500px;height:auto;margin-left:500px">
    </div>
    <br>
    <h2 style="text-align: center">ẢNH KẾT QUẢ</h2>
    <img src={{name_img}} alt='image_predict' style="width:500px;height:auto;margin-left: 500px">


</form>


{% endblock %}